# Запрет на загрузку файлов с секретными переменными
.env

# Запрет на загрузку папки с установленными библиотеками
node_modules/

# Логи и временные файлы, которые Git не должен отслеживать
npm-debug.log*
.DS_Store